<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How does it work?</h2>
                <p>who the f knows?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolor diam, suscipit non dui vitae, molestie placerat nulla. Duis at purus a turpis mattis accumsan in et ipsum. Integer vitae ex vel leo posuere rutrum eget eu libero. Praesent iaculis vestibulum nisi id tempor. Fusce gravida vestibulum est nec posuere. Nulla facilisi. Aenean libero dui, mattis quis pretium et, consectetur ut nulla. Aliquam aliquam tempus libero, et maximus justo mollis ut. Etiam nibh dolor, suscipit eu bibendum eu, ullamcorper eu dui. Maecenas lectus dolor, ultricies non porttitor vel, bibendum nec justo. Vestibulum lobortis, odio euismod fermentum accumsan, velit tellus laoreet velit, vitae vulputate justo nibh id urna. Pellentesque finibus, ipsum et laoreet gravida, felis ante volutpat nulla, sit amet volutpat ligula lacus sed nibh.</p>
                <p>Nam sed lectus at mauris malesuada ultricies id eu felis. Nulla facilisi. Aenean euismod, nisl eu convallis tempus, justo nisl sollicitudin justo, ut fringilla nibh turpis ac felis. Nullam nec sem et magna lobortis porttitor vel at arcu. Pellentesque ornare hendrerit felis, eget faucibus turpis laoreet sit amet. Etiam sit amet viverra nibh, vel lacinia libero. In feugiat mi non ligula vehicula ultrices. Quisque felis nisi, hendrerit sed massa non, aliquam tristique massa. Ut et orci tortor. Pellentesque faucibus mollis risus, et luctus diam pulvinar et. Suspendisse id tincidunt lectus. Praesent ultricies elit a sem dapibus, at scelerisque tortor maximus. Sed ut lacus et arcu malesuada ullamcorper. Aenean luctus aliquam erat id volutpat. Vestibulum convallis, urna commodo tincidunt venenatis, nunc turpis iaculis urna, nec finibus metus ligula eu dolor. Curabitur placerat sapien quis nibh condimentum, sed auctor neque tempor.</p>
                <p>diagram will go here</p>
            </div>
        </div>
    </div>
</section>
