<section id="diagram">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div>
                    <h2 class="section-heading">What does it do?</h2>
                    <hr class="primary" />        
                </div>
                <div>
                    <p>Kapture attempts to make it easy to curate your own library of media from various sources on the internet, and play it back on any device you own:</p>
                    <img src="img/diagram.png" height="100%" width="100%" />
                </div>
            </div>
        </div>
    </div>
</section>
