<section id="explainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">See it in action</h2>
                <video width="100%" height="100%" poster="img/explainer.png" controls playsinline muted>
                    <source src="video/explainer.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>
