<section id="get-started">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Check it out and start contributing</h2>
            </div>
        <div class="col-xs-4 col-sm-2 col-sm-offset-3 text-center">
            <a href="https://github.com/kapturebox/web" target="_blank"><i class="ion-social-github"></i><span>Follow</span></a>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <a href="https://github.com/kapturebox/web/fork" target="_blank"><i class="ion-network"></i><span>Fork</span></a>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <a href="https://github.com/kapturebox/web/archive/master.zip" target="_blank"><i class="ion-ios-cloud-download"></i><span>Download</span></a>
        </div>
    </div>
</section>
