<section id="get-started" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Check it out and start contributing</h2>
                <hr class="primary" />
            </div>
        <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-center bounceIn wow">
            <a href="https://github.com/kapturebox/web" target="_blank"  data-method="github-browse" class="downloadlink"><i class="ion-social-github"></i><span>Follow</span></a>
        </div>
        <div class="col-xs-3 col-sm-2 text-center bounceIn wow">
            <a href="https://github.com/kapturebox/web/fork" target="_blank" data-method="fork" class="downloadlink"><i class="ion-network"></i><span>Fork</span></a>
        </div>
        <div class="col-xs-3 col-sm-2 text-center bounceIn wow">
            <a href="https://github.com/kapturebox/web/archive/master.zip" target="_blank" data-method="zipdownload" class="downloadlink"><i class="ion-ios-cloud-download"></i><span>Download</span></a>
        </div>
        <div class="col-xs-3 col-sm-2 text-center bounceIn wow">
            <a href="https://kapture.docs.stoplight.io/" target="_blank" data-method="read-docs" class="downloadlink"><i class="ion-ios-book"></i><span>Documentation</span></a>
        </div>
    </div>
</section>
