<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Kapture</h1> -->
            <!-- <img src="/img/logo-navbar.png"> -->
            <img src="/img/logo2.png">

            <!-- <hr> -->
            <p>An open source project that puts all your<br class="visible-xs"> favorite<br class="visible-sm"> media sites in one place.</p>
            <a href="#about" class="btn btn-primary btn-lg page-scroll">Learn more</a>
        </div>
    </div>
</header>
