<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <div id="toggle-bars" class="collapsed">
        <div class="bar-one white-bg"></div>
        <div class="bar-two white-bg"></div>
        <div class="bar-three white-bg"></div>
      </div>

      <div id="menu">
        <div class="triangle"></div>
        <div class="main">
          <ul>
            <li><a href="#page-top">Home</a></li>
            <li><a href="#diagram">About</a></li>
            <li><a href="#explainer">Show me</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#get-started">Get yours</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a class="page-scroll" href="#page-top">Home</a>
            </li>
            <li>
                <a class="page-scroll" href="#diagram">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#explainer">Show me</a>
            </li>
            <li>
                <a class="page-scroll" href="#features">Features</a>
            </li>
            <li>
                <a class="page-scroll" href="#get-started">Get yours</a>
            </li>
        </ul>
    </div>

  </div>
</nav>
